# State-Wise Cases:

In [1]:
import pandas as pd

In [2]:
df = pd.read_html('https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubhtml?urp=gmail_link#')

In [3]:
df[2]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,1.0,State,NaN,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths
1,2.0,Total,NaN,6276,571,186,5519,09/04/2020 17:35:24,TT,360,6,6
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Maharashtra,NaN,1297,117,72,1108,09/04/2020 12:06:14,MH,162,0,0
4,4.0,Tamil Nadu,NaN,738,21,8,709,08/04/2020 18:10:28,TN,0,0,0
5,5.0,Delhi,NaN,669,21,9,639,08/04/2020 22:20:32,DL,0,0,0
6,6.0,Telangana,NaN,453,45,11,397,08/04/2020 19:00:25,TG,0,0,0
7,7.0,Rajasthan,NaN,430,45,3,382,09/04/2020 15:05:34,RJ,47,0,0
8,8.0,Kerala,NaN,345,84,2,259,08/04/2020 20:15:28,KL,0,0,0
9,9.0,Uttar Pradesh,NaN,361,31,4,326,08/04/2020 19:15:28,UP,0,0,0
10,10.0,Andhra Pradesh,NaN,348,6,3,339,08/04/2020 14:40:25,AP,0,0,0
11,11.0,Madhya Pradesh,NaN,347,25,26,296,09/04/2020 16:35:26,MP,6,0,2
12,12.0,Karnataka,NaN,197,30,6,161,09/04/2020 17:35:25,KA,16,2,1
13,13.0,Gujarat,NaN,241,26,17,198,09/04/2020 11:56:11,GJ,55,1,1
14,14.0,Haryana,NaN,168,32,2,134,09/04/2020 12:51:40,HR,1,0,0
15,15.0,Jammu and Kashmir,NaN,184,6,3,175,09/04/2020 16:56:28,JK,26,0,0
16,16.0,Punjab,NaN,117,14,10,93,09/04/2020 15:05:38,PB,11,0,1
17,17.0,West Bengal,NaN,103,16,5,82,09/04/2020 10:17:04,WB,4,3,0
18,18.0,Odisha,NaN,44,2,1,41,09/04/2020 12:52:24,OR,2,0,0
19,19.0,Bihar,NaN,51,15,1,35,09/04/2020 12:06:17,BR,12,0,0
20,20.0,Uttarakhand,NaN,35,5,0,30,08/04/2020 21:20:26,UT,0,0,0
21,21.0,Assam,NaN,28,0,0,28,08/04/2020 00:04:27,AS,0,0,0
22,22.0,Chandigarh,NaN,18,7,0,11,07/04/2020 22:35:25,CH,0,0,0
23,23.0,Himachal Pradesh,NaN,28,2,2,24,09/04/2020 10:50:40,HP,1,0,0
24,24.0,Ladakh,NaN,14,10,0,4,06/04/2020 23:56:56,LA,0,0,0
25,25.0,Andaman and Nicobar Islands,NaN,11,0,0,11,30/03/2020 11:27:27,AN,0,0,0
26,26.0,Chhattisgarh,NaN,18,9,0,9,09/04/2020 10:50:42,CT,8,0,0
27,27.0,Goa,NaN,7,0,0,7,04/04/2020 09:42:27,GA,0,0,0
28,28.0,Puducherry,NaN,5,1,0,4,07/04/2020 17:24:56,PY,0,0,0
29,29.0,Jharkhand,NaN,13,0,1,12,09/04/2020 10:50:43,JH,9,0,1
30,30.0,Manipur,NaN,2,1,0,1,06/04/2020 22:35:54,MN,0,0,0
31,31.0,Mizoram,NaN,1,0,0,1,26/03/2020 07:19:29,MZ,0,0,0
32,32.0,Arunachal Pradesh,NaN,1,0,0,1,02/04/2020 11:42:31,AR,0,0,0
33,33.0,Dadra and Nagar Haveli,NaN,1,0,0,1,06/04/2020 15:22:25,DN,0,0,0
34,34.0,Tripura,NaN,1,0,0,1,06/04/2020 22:14:41,TR,0,0,0
35,35.0,Daman and Diu,NaN,0,0,0,0,26/03/2020 07:19:29,DD,0,0,0
36,36.0,Lakshadweep,NaN,0,0,0,0,26/03/2020 07:19:29,LD,0,0,0
37,37.0,Meghalaya,NaN,0,0,0,0,26/03/2020 07:19:29,ML,0,0,0
38,38.0,Nagaland,NaN,0,0,0,0,26/03/2020 07:19:29,NL,0,0,0
39,39.0,Sikkim,NaN,0,0,0,0,26/03/2020 07:19:29,SK,0,0,0

In [4]:
df[2].drop(["Unnamed: 2","Unnamed: 0"], axis=1, inplace=True)
df[2].drop([1,2], axis=0, inplace=True)

In [5]:
df[2].to_csv("Corona_India_doc.csv", index=False, header=None)

# Daily No. of Cases:

In [6]:
df[5].drop(2, axis=0, inplace=True)

In [7]:
df[5].to_csv("Corona_India_final.csv", index=False, header=None)

In [8]:
df[5]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1.0,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
1,2.0,30 January,1,1,0,0,0,0
3,3.0,31 January,0,1,0,0,0,0
4,4.0,01 February,0,1,0,0,0,0
5,5.0,02 February,1,2,0,0,0,0
...,...,...,...,...,...,...,...,...
67,67.0,04 April,579,3684,56,286,13,99
68,68.0,05 April,605,4289,43,329,22,121
69,69.0,06 April,489,4778,65,394,16,137
70,70.0,07 April,573,5351,75,469,26,163
71,71.0,08 April,565,5916,96,565,20,183

# No. of test performed per day:

In [9]:
df[10].drop(1, axis=0, inplace=True)

In [10]:
df[10].drop(["Unnamed: 6","Unnamed: 7","Unnamed: 5"], axis=1, inplace=True)

In [11]:
x=[]
for i in df[10]["Unnamed: 1"]:
    i=i.split()
    x.append(i[0])

In [12]:
z=dict(Date=x)
y=pd.DataFrame(z,index=None)
y

          Date
0       Update
1   13/03/2020
2   18/03/2020
3   19/03/2020
4   19/03/2020
5   20/03/2020
6   20/03/2020
7   21/03/2020
8   21/03/2020
9   22/03/2020
10  22/03/2020
11  23/03/2020
12  23/03/2020
13  24/03/2020
14  24/03/2020
15  25/03/2020
16  25/03/2020
17  26/03/2020
18  26/03/2020
19  27/03/2020
20  30/03/2020
21  31/03/2020
22  01/04/2020
23  02/04/2020
24  03/04/2020
25  03/04/2020
26  04/04/2020
27  05/04/2020
28  06/04/2020
29  07/04/2020
30  08/04/2020

In [13]:
df[10].reset_index(drop=True, inplace=True)

In [14]:
t=pd.DataFrame(df[10], index=None)

In [15]:
test=pd.concat([t,y],axis=1)
test.dropna(axis=0)
test.drop([17,18], axis=0, inplace=True)
test.reset_index(drop=True)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 8,Unnamed: 9,Date
0,1.0,Update Time Stamp,Total Samples Tested,Total Individuals Tested,Total Positive Cases,Source,NaN,Update
1,2.0,13/03/2020 12:00: am,6500,5900,78,Press_Release_ICMR_13March2020.pdf,600.0,13/03/2020
2,3.0,18/03/2020 06:00: pm,13125,12235,150,ICMR_website_update_18March_6PM_IST.pdf,890.0,18/03/2020
3,4.0,19/03/2020 10:00: am,13316,12426,168,ICMR_website_update_19March_10AM_IST_V2.pdf,890.0,19/03/2020
4,5.0,19/03/2020 06:00: pm,14175,13285,182,ICMR_website_update_19March_6PM_IST.pdf,890.0,19/03/2020
5,6.0,20/03/2020 10:00: am,14376,13486,206,ICMR_website_update_20March_10AM_IST.pdf,890.0,20/03/2020
6,7.0,20/03/2020 06:00: pm,15404,14514,236,ICMR_website_update_20March_6PM_IST.pdf,890.0,20/03/2020
7,8.0,21/03/2020 10:00: am,15701,14811,271,ICMR_website_update_21March_10AM_IST.pdf,890.0,21/03/2020
8,9.0,21/03/2020 06:00: pm,16911,16021,315,ICMR_website_update_21March_6PM_IST.pdf,890.0,21/03/2020
9,10.0,22/03/2020 10:00: am,16999,16109,341,ICMR_website_update_22March_10AM_IST.pdf,890.0,22/03/2020
10,11.0,22/03/2020 06:00: pm,18127,17237,396,ICMR_website_update_22March_6PM_IST.pdf,890.0,22/03/2020
11,12.0,23/03/2020 10:00: am,18383,17493,415,ICMR_website_update_23March_10AM_IST.pdf,890.0,23/03/2020
12,13.0,23/03/2020 08:00: pm,20707,19817,471,ICMR_website_update_23March_8PM_IST.pdf,890.0,23/03/2020
13,14.0,24/03/2020 10:00: am,20864,19974,482,ICMR_website_update_24March_10AM_IST.pdf,890.0,24/03/2020
14,15.0,24/03/2020 08:00: pm,22694,21804,536,ICMR_website_update_24March_8PM_IST.pdf,890.0,24/03/2020
15,16.0,25/03/2020 10:00: am,22928,22038,539,ICMR_website_update_25March_10AM_IST.pdf,890.0,25/03/2020
16,17.0,25/03/2020 08:00: pm,25144,24254,581,ICMR_website_update_25March_8PM_IST.pdf,890.0,25/03/2020
17,20.0,27/03/2020 09:00: am,27688,26798,691,ICMR_website_update_27March_9AM_IST.pdf,890.0,27/03/2020
18,21.0,30/03/2020 12:00: am,38442,NaN,NaN,MoH Press conference with Dr. Raman G,NaN,30/03/2020
19,22.0,31/03/2020 12:00: am,42788,NaN,NaN,MoH Press conference with Dr. Raman G,NaN,31/03/2020
20,23.0,01/04/2020 12:00: am,47951,NaN,1637,https://twitter.com/PTI_News/status/1245308976...,NaN,01/04/2020
21,24.0,02/04/2020 09:00: pm,55851,NaN,2056,ICMR_testing_update_02April_9PM_IST.pdf,NaN,02/04/2020
22,25.0,03/04/2020 09:00: am,56680,NaN,2183,ICMR_testing_update_03April_9AM_IST.pdf,NaN,03/04/2020
23,26.0,03/04/2020 09:00: pm,69245,NaN,2653,ICMR_testing_update_03April_9PM_IST.pdf,NaN,03/04/2020
24,27.0,04/04/2020 09:00: pm,79950,NaN,3113,https://icmr.nic.in/sites/default/files/whats_...,NaN,04/04/2020
25,28.0,05/04/2020 09:00: pm,89534,NaN,3554,https://icmr.nic.in/sites/default/files/whats_...,NaN,05/04/2020
26,29.0,06/04/2020 09:00: pm,101068,NaN,4135,https://icmr.nic.in/sites/default/files/whats_...,NaN,06/04/2020
27,30.0,07/04/2020 09:00: pm,114015,NaN,4616,ICMR_testing_update_07April_9PM_IST.pdf,NaN,07/04/2020
28,31.0,08/04/2020 09:00: pm,127919,NaN,5114,https://icmr.nic.in/sites/default/files/whats_...,NaN,08/04/2020

In [16]:
test.to_csv("Corona_India_tests.csv", index=False, header=None)