# State-Wise Cases:

In [1]:
import pandas as pd

In [2]:
df = pd.read_html('https://docs.google.com/spreadsheets/d/e/2PACX-1vSz8Qs1gE_IYpzlkFkCXGcL_BqR8hZieWVi-rphN1gfrO3H4lDtVZs4kd0C3P8Y9lhsT1rhoB-Q_cP4/pubhtml')

In [3]:
df_case=df[3]
df_case

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1.0,State,NaN,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
1,2.0,Total,NaN,18539,3273,592,14674,21/04/2020 16:27:26,TT,0,0,0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Maharashtra,NaN,4666,572,232,3862,20/04/2020 20:42:26,MH,0,0,0,NaN
4,4.0,Delhi,NaN,2081,431,47,1603,20/04/2020 22:22:39,DL,0,0,0,NaN
5,5.0,Gujarat,NaN,1939,131,71,1737,21/04/2020 16:27:27,GJ,0,0,0,NaN
6,6.0,Rajasthan,NaN,1576,205,25,1346,21/04/2020 16:27:29,RJ,0,0,0,NaN
7,7.0,Tamil Nadu,NaN,1520,457,17,1046,20/04/2020 18:12:27,TN,0,0,0,NaN
8,8.0,Madhya Pradesh,NaN,1485,138,76,1271,20/04/2020 22:22:43,MP,0,0,0,NaN
9,9.0,Uttar Pradesh,NaN,1184,140,18,1026,21/04/2020 16:27:31,UP,0,0,0,NaN
10,10.0,Telangana,NaN,872,186,23,663,20/04/2020 20:42:29,TG,0,0,0,NaN
11,11.0,Andhra Pradesh,NaN,722,92,20,610,21/04/2020 16:27:31,AP,0,0,0,NaN
12,12.0,Karnataka,NaN,408,112,16,280,21/04/2020 16:27:32,KA,0,0,0,NaN
13,13.0,Kerala,NaN,407,291,2,114,20/04/2020 18:07:32,KL,0,0,0,NaN
14,14.0,Jammu and Kashmir,NaN,368,71,5,292,20/04/2020 18:07:33,JK,0,0,0,NaN
15,15.0,West Bengal,NaN,339,66,12,261,21/04/2020 16:27:33,WB,0,0,0,As WB state bulletin only reports the number o...
16,16.0,Haryana,NaN,251,141,3,107,20/04/2020 20:42:30,HR,0,0,0,1 death in Ambala unaccounted.
17,17.0,Punjab,NaN,245,38,16,191,21/04/2020 16:27:34,PB,0,0,0,NaN
18,18.0,Bihar,NaN,113,42,2,69,20/04/2020 19:33:33,BR,0,0,0,NaN
19,19.0,Odisha,NaN,74,24,1,49,21/04/2020 15:32:31,OR,0,0,0,NaN
20,20.0,Uttarakhand,NaN,46,18,0,28,18/04/2020 15:26:17,UT,0,0,0,NaN
21,21.0,Jharkhand,NaN,42,4,2,36,21/04/2020 16:27:36,JH,0,0,0,NaN
22,22.0,Himachal Pradesh,NaN,39,16,2,21,18/04/2020 19:15:06,HP,0,0,0,Death of Tibetan refugee included
23,23.0,Chhattisgarh,NaN,36,25,0,11,18/04/2020 19:36:06,CT,0,0,0,NaN
24,24.0,Assam,NaN,35,19,1,15,20/04/2020 08:45:06,AS,0,0,0,Includes one case from Nagaland
25,25.0,Chandigarh,NaN,26,14,0,12,19/04/2020 17:45:25,CH,0,0,0,NaN
26,26.0,Ladakh,NaN,18,14,0,4,16/04/2020 15:13:07,LA,0,0,0,NaN
27,27.0,Andaman and Nicobar Islands,NaN,16,11,0,5,20/04/2020 18:07:34,AN,0,0,0,NaN
28,28.0,Meghalaya,NaN,11,0,1,10,21/04/2020 16:27:36,ML,0,0,0,NaN
29,29.0,Goa,NaN,7,7,0,0,19/04/2020 17:04:07,GA,0,0,0,NaN
30,30.0,Puducherry,NaN,7,4,0,3,19/04/2020 08:25:07,PY,0,0,0,NaN
31,31.0,Manipur,NaN,2,2,0,0,20/04/2020 10:04:08,MN,0,0,0,NaN
32,32.0,Tripura,NaN,2,1,0,1,10/04/2020 20:00:27,TR,0,0,0,NaN
33,33.0,Mizoram,NaN,1,0,0,1,26/03/2020 07:19:29,MZ,0,0,0,NaN
34,34.0,Arunachal Pradesh,NaN,1,1,0,0,16/04/2020 19:33:11,AR,0,0,0,NaN
35,35.0,Nagaland,NaN,0,0,0,0,20/04/2020 08:45:07,NL,0,0,0,NaN
36,36.0,Dadra and Nagar Haveli,NaN,0,0,0,0,17/04/2020 15:03:07,DN,0,0,0,NaN
37,37.0,Daman and Diu,NaN,0,0,0,0,26/03/2020 07:19:29,DD,0,0,0,NaN
38,38.0,Lakshadweep,NaN,0,0,0,0,26/03/2020 07:19:29,LD,0,0,0,NaN
39,39.0,Sikkim,NaN,0,0,0,0,26/03/2020 07:19:29,SK,0,0,0,NaN

In [4]:
df_case.drop(["Unnamed: 2","Unnamed: 0"], axis=1, inplace=True)
df_case.drop([1,2], axis=0, inplace=True)
df_case.to_csv("Corona_India_doc.csv", index=False, header=None)

# Daily No. of Cases:

In [5]:
df_daily= df[2]
df_daily

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1.0,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
1,2.0,30 January,1,1,0,0,0,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,31 January,0,1,0,0,0,0
4,4.0,01 February,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
78,78.0,15 April,886,12370,144,1509,27,422
79,79.0,16 April,1061,13431,258,1767,26,448
80,80.0,17 April,922,14353,273,2040,38,486
81,81.0,18 April,1371,15724,426,2466,35,521
82,82.0,19 April,1580,17304,388,2854,38,559

In [6]:
df_daily.drop(2, axis=0, inplace=True)
df_daily.to_csv("Corona_India_final.csv", index=False, header=None)

# No. of test performed per day:

In [7]:
df_test=df[10]
df_test

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,1.0,Update Time Stamp,Total Samples Tested,Total Individuals Tested,Total Positive Cases,Tests conducted by Private Labs,Sample Reported today,Positive cases from samples reported,Source
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,13/03/2020 00:00:00,6500,5900,78,NaN,NaN,NaN,Press_Release_ICMR_13March2020.pdf
3,3.0,18/03/2020 18:00:00,13125,12235,150,NaN,NaN,NaN,ICMR_website_update_18March_6PM_IST.pdf
4,4.0,19/03/2020 10:00:00,13316,12426,168,NaN,NaN,NaN,ICMR_website_update_19March_10AM_IST_V2.pdf
5,5.0,19/03/2020 18:00:00,14175,13285,182,NaN,NaN,NaN,ICMR_website_update_19March_6PM_IST.pdf
6,6.0,20/03/2020 10:00:00,14376,13486,206,NaN,NaN,NaN,ICMR_website_update_20March_10AM_IST.pdf
7,7.0,20/03/2020 18:00:00,15404,14514,236,NaN,NaN,NaN,ICMR_website_update_20March_6PM_IST.pdf
8,8.0,21/03/2020 10:00:00,15701,14811,271,NaN,NaN,NaN,ICMR_website_update_21March_10AM_IST.pdf
9,9.0,21/03/2020 18:00:00,16911,16021,315,NaN,NaN,NaN,ICMR_website_update_21March_6PM_IST.pdf
10,10.0,22/03/2020 10:00:00,16999,16109,341,NaN,NaN,NaN,ICMR_website_update_22March_10AM_IST.pdf
11,11.0,22/03/2020 18:00:00,18127,17237,396,NaN,NaN,NaN,ICMR_website_update_22March_6PM_IST.pdf
12,12.0,23/03/2020 10:00:00,18383,17493,415,NaN,NaN,NaN,ICMR_website_update_23March_10AM_IST.pdf
13,13.0,23/03/2020 20:00:00,20707,19817,471,NaN,NaN,NaN,ICMR_website_update_23March_8PM_IST.pdf
14,14.0,24/03/2020 10:00:00,20864,19974,482,NaN,NaN,NaN,ICMR_website_update_24March_10AM_IST.pdf
15,15.0,24/03/2020 20:00:00,22694,21804,536,NaN,NaN,NaN,ICMR_website_update_24March_8PM_IST.pdf
16,16.0,25/03/2020 10:00:00,22928,22038,539,NaN,NaN,NaN,ICMR_website_update_25March_10AM_IST.pdf
17,17.0,25/03/2020 20:00:00,25144,24254,581,NaN,NaN,NaN,ICMR_website_update_25March_8PM_IST.pdf
18,18.0,26/03/2020 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19.0,26/03/2020 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20.0,27/03/2020 09:00:00,27688,26798,691,NaN,NaN,NaN,ICMR_website_update_27March_9AM_IST.pdf
21,21.0,30/03/2020 00:00:00,38442,NaN,NaN,1334,NaN,NaN,MoH Press conference with Dr. Raman G
22,22.0,31/03/2020 00:00:00,42788,NaN,NaN,1733,NaN,NaN,MoH Press conference with Dr. Raman G
23,23.0,01/04/2020 00:00:00,47951,NaN,1637,4562,NaN,NaN,https://twitter.com/PTI_News/status/1245308976...
24,24.0,02/04/2020 21:00:00,55851,NaN,2056,NaN,NaN,NaN,ICMR_testing_update_02April_9PM_IST.pdf
25,25.0,03/04/2020 09:00:00,56680,NaN,2183,NaN,NaN,NaN,ICMR_testing_update_03April_9AM_IST.pdf
26,26.0,03/04/2020 21:00:00,69245,NaN,2653,NaN,10034,575,ICMR_testing_update_03April_9PM_IST.pdf
27,27.0,04/04/2020 21:00:00,79950,NaN,3113,NaN,NaN,NaN,https://icmr.nic.in/sites/default/files/whats_...
28,28.0,05/04/2020 21:00:00,89534,NaN,3554,NaN,9369,295,https://icmr.nic.in/sites/default/files/whats_...
29,29.0,06/04/2020 21:00:00,101068,NaN,4135,NaN,11432,311,https://icmr.nic.in/sites/default/files/whats_...
30,30.0,07/04/2020 21:00:00,114015,NaN,4616,NaN,12584,285,ICMR_testing_update_07April_9PM_IST.pdf
31,31.0,08/04/2020 21:00:00,127919,NaN,5114,NaN,13143,320,https://icmr.nic.in/sites/default/files/whats_...
32,32.0,09/04/2020 21:00:00,144910,130792,5705,NaN,16002,320,https://icmr.nic.in/sites/default/files/whats_...
33,33.0,10/04/2020 21:00:00,161330,147034,6872,NaN,15663,433,https://icmr.nic.in/sites/default/files/whats_...
34,34.0,11/04/2020 21:00:00,179374,164773,7703,NaN,17143,600,https://icmr.nic.in/sites/default/files/whats_...
35,35.0,12/04/2020 21:00:00,195748,181028,8312,NaN,15583,544,https://icmr.nic.in/sites/default/files/whats_...
36,36.0,13/04/2020 21:00:00,217554,202551,9341,NaN,NaN,NaN,https://icmr.nic.in/sites/default/files/whats_...
37,37.0,14/04/2020 21:00:00,244893,229426,10307,NaN,26351,853,https://icmr.nic.in/sites/default/files/whats_...
38,38.0,15/04/2020 21:00:00,274599,258730,11297,NaN,28941,953,https://icmr.nic.in/sites/default/files/whats_...
39,39.0,16/04/2020 21:00:00,302956,286714,12581,NaN,27256,1206,https://icmr.nic.in/sites/default/files/whats_...
40,40.0,17/04/2020 21:00:00,335123,318449,14098,NaN,31083,1443,https://icmr.nic.in/sites/default/files/whats_...
41,41.0,18/04/2020 21:00:00,372123,354969,16365,NaN,35494,2154,https://icmr.nic.in/sites/default/files/whats_...
42,42.0,19/04/2020 21:00:00,401586,383985,17615,NaN,27824,1135,https://icmr.nic.in/sites/default/files/whats_...

In [8]:
df_test.drop([1,18,19], axis=0, inplace=True)
df_test.drop(["Unnamed: 6","Unnamed: 7","Unnamed: 5"], axis=1, inplace=True)

In [9]:
x=[]
for i in df_test["Unnamed: 1"]:
    i=i.split()
    x.append(i[0])

In [10]:
z=dict(Date=x)
y=pd.DataFrame(z,index=None)
df_test.reset_index(drop=True, inplace=True)
t=pd.DataFrame(df[10], index=None)

In [11]:
test=pd.concat([t,y],axis=1)
test.reset_index(drop=True)
test.to_csv("Corona_India_tests.csv", index=False, header=None)