# State-Wise Cases:

In [1]:
import pandas as pd

In [2]:
df = pd.read_html('https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubhtml?urp=gmail_link#')

In [3]:
df[2]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1.0,State,NaN,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
1,2.0,Total,NaN,11625,1366,398,9861,15/04/2020 13:50:24,TT,136,1,3,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Maharashtra,NaN,2684,259,178,2247,14/04/2020 23:10:25,MH,0,0,0,NaN
4,4.0,Delhi,NaN,1561,31,30,1500,14/04/2020 22:11:17,DL,0,0,0,NaN
5,5.0,Tamil Nadu,NaN,1204,81,12,1111,14/04/2020 18:35:41,TN,0,0,0,NaN
6,6.0,Rajasthan,NaN,1034,147,11,876,15/04/2020 13:50:25,RJ,29,0,0,NaN
7,7.0,Madhya Pradesh,NaN,741,64,53,624,14/04/2020 23:20:27,MP,0,0,0,NaN
8,8.0,Uttar Pradesh,NaN,660,50,8,602,14/04/2020 21:00:25,UP,0,0,0,NaN
9,9.0,Gujarat,NaN,695,59,30,606,15/04/2020 13:10:27,GJ,45,0,2,NaN
10,10.0,Telangana,NaN,644,110,18,516,14/04/2020 22:35:25,TG,0,0,0,NaN
11,11.0,Andhra Pradesh,NaN,502,16,11,475,15/04/2020 12:51:21,AP,18,0,0,NaN
12,12.0,Kerala,NaN,386,211,2,173,14/04/2020 18:10:28,KL,0,0,0,NaN
13,13.0,Jammu and Kashmir,NaN,278,30,4,244,14/04/2020 19:50:25,JK,0,0,0,NaN
14,14.0,Karnataka,NaN,277,71,10,196,15/04/2020 13:38:59,KA,17,0,0,NaN
15,15.0,Haryana,NaN,198,55,3,140,14/04/2020 18:10:31,HR,0,0,0,14 recovered Italian tourists included in tall...
16,16.0,West Bengal,NaN,213,37,7,169,15/04/2020 10:55:25,WB,23,1,0,NaN
17,17.0,Punjab,NaN,184,27,13,144,15/04/2020 01:10:28,PB,0,0,0,As WB state bulletin only reports the number o...
18,18.0,Bihar,NaN,70,29,1,40,15/04/2020 13:39:51,BR,4,0,0,NaN
19,19.0,Odisha,NaN,60,18,1,41,14/04/2020 18:10:33,OR,0,0,0,NaN
20,20.0,Uttarakhand,NaN,37,9,0,28,14/04/2020 20:40:25,UT,0,0,0,NaN
21,21.0,Chhattisgarh,NaN,33,13,0,20,15/04/2020 11:00:25,CT,0,0,0,Death of Tibetan refugee included
22,22.0,Himachal Pradesh,NaN,33,13,2,18,15/04/2020 11:20:26,HP,0,0,0,NaN
23,23.0,Assam,NaN,32,0,1,31,14/04/2020 23:05:31,AS,0,0,0,NaN
24,24.0,Jharkhand,NaN,27,0,2,25,13/04/2020 20:50:25,JH,0,0,0,NaN
25,25.0,Chandigarh,NaN,21,7,0,14,10/04/2020 18:10:27,CH,0,0,0,NaN
26,26.0,Ladakh,NaN,17,12,0,5,13/04/2020 21:15:27,LA,0,0,0,NaN
27,27.0,Andaman and Nicobar Islands,NaN,11,10,0,1,30/03/2020 11:27:27,AN,0,0,0,NaN
28,28.0,Goa,NaN,7,5,0,2,11/04/2020 23:26:44,GA,0,0,0,NaN
29,29.0,Puducherry,NaN,7,1,0,6,10/04/2020 17:50:26,PY,0,0,0,NaN
30,30.0,Manipur,NaN,2,1,0,1,06/04/2020 22:35:54,MN,0,0,0,NaN
31,31.0,Tripura,NaN,2,0,0,2,10/04/2020 20:00:27,TR,0,0,0,NaN
32,32.0,Mizoram,NaN,1,0,0,1,26/03/2020 07:19:29,MZ,0,0,0,NaN
33,33.0,Arunachal Pradesh,NaN,1,0,0,1,02/04/2020 11:42:31,AR,0,0,0,NaN
34,34.0,Dadra and Nagar Haveli,NaN,1,0,0,1,06/04/2020 15:22:25,DN,0,0,0,NaN
35,35.0,Nagaland,NaN,1,0,0,1,12/04/2020 23:35:29,NL,0,0,0,NaN
36,36.0,Meghalaya,NaN,1,0,1,0,15/04/2020 10:45:25,ML,0,0,1,NaN
37,37.0,Daman and Diu,NaN,0,0,0,0,26/03/2020 07:19:29,DD,0,0,0,NaN
38,38.0,Lakshadweep,NaN,0,0,0,0,26/03/2020 07:19:29,LD,0,0,0,NaN
39,39.0,Sikkim,NaN,0,0,0,0,26/03/2020 07:19:29,SK,0,0,0,NaN

In [4]:
df[2].drop(["Unnamed: 2","Unnamed: 0"], axis=1, inplace=True)
df[2].drop([1,2], axis=0, inplace=True)

In [5]:
df[2].to_csv("Corona_India_doc.csv", index=False, header=None)

# Daily No. of Cases:

In [6]:
df[5]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1.0,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
1,2.0,30 January,1,1,0,0,0,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,31 January,0,1,0,0,0,0
4,4.0,01 February,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
73,73.0,10 April,871,7600,151,786,22,252
74,74.0,11 April,854,8454,186,972,40,292
75,75.0,12 April,758,9212,114,1086,42,334
76,76.0,13 April,1243,10455,112,1198,27,361
77,77.0,14 April,1035,11490,167,1365,37,398

In [7]:
df[5].drop(2, axis=0, inplace=True)

In [8]:
df[5].to_csv("Corona_India_final.csv", index=False, header=None)

In [9]:
df[5]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1.0,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
1,2.0,30 January,1,1,0,0,0,0
3,3.0,31 January,0,1,0,0,0,0
4,4.0,01 February,0,1,0,0,0,0
5,5.0,02 February,1,2,0,0,0,0
...,...,...,...,...,...,...,...,...
73,73.0,10 April,871,7600,151,786,22,252
74,74.0,11 April,854,8454,186,972,40,292
75,75.0,12 April,758,9212,114,1086,42,334
76,76.0,13 April,1243,10455,112,1198,27,361
77,77.0,14 April,1035,11490,167,1365,37,398

# No. of test performed per day:

In [10]:
df[6]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,1.0,Update Time Stamp,Total Samples Tested,Total Individuals Tested,Total Positive Cases,Tests conducted by Private Labs,Sample Reported today,Positive cases from samples reported,Source
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,13/03/2020 00:00:00,6500,5900,78,NaN,NaN,NaN,Press_Release_ICMR_13March2020.pdf
3,3.0,18/03/2020 18:00:00,13125,12235,150,NaN,NaN,NaN,ICMR_website_update_18March_6PM_IST.pdf
4,4.0,19/03/2020 10:00:00,13316,12426,168,NaN,NaN,NaN,ICMR_website_update_19March_10AM_IST_V2.pdf
5,5.0,19/03/2020 18:00:00,14175,13285,182,NaN,NaN,NaN,ICMR_website_update_19March_6PM_IST.pdf
6,6.0,20/03/2020 10:00:00,14376,13486,206,NaN,NaN,NaN,ICMR_website_update_20March_10AM_IST.pdf
7,7.0,20/03/2020 18:00:00,15404,14514,236,NaN,NaN,NaN,ICMR_website_update_20March_6PM_IST.pdf
8,8.0,21/03/2020 10:00:00,15701,14811,271,NaN,NaN,NaN,ICMR_website_update_21March_10AM_IST.pdf
9,9.0,21/03/2020 18:00:00,16911,16021,315,NaN,NaN,NaN,ICMR_website_update_21March_6PM_IST.pdf
10,10.0,22/03/2020 10:00:00,16999,16109,341,NaN,NaN,NaN,ICMR_website_update_22March_10AM_IST.pdf
11,11.0,22/03/2020 18:00:00,18127,17237,396,NaN,NaN,NaN,ICMR_website_update_22March_6PM_IST.pdf
12,12.0,23/03/2020 10:00:00,18383,17493,415,NaN,NaN,NaN,ICMR_website_update_23March_10AM_IST.pdf
13,13.0,23/03/2020 20:00:00,20707,19817,471,NaN,NaN,NaN,ICMR_website_update_23March_8PM_IST.pdf
14,14.0,24/03/2020 10:00:00,20864,19974,482,NaN,NaN,NaN,ICMR_website_update_24March_10AM_IST.pdf
15,15.0,24/03/2020 20:00:00,22694,21804,536,NaN,NaN,NaN,ICMR_website_update_24March_8PM_IST.pdf
16,16.0,25/03/2020 10:00:00,22928,22038,539,NaN,NaN,NaN,ICMR_website_update_25March_10AM_IST.pdf
17,17.0,25/03/2020 20:00:00,25144,24254,581,NaN,NaN,NaN,ICMR_website_update_25March_8PM_IST.pdf
18,18.0,26/03/2020 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19.0,26/03/2020 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20.0,27/03/2020 09:00:00,27688,26798,691,NaN,NaN,NaN,ICMR_website_update_27March_9AM_IST.pdf
21,21.0,30/03/2020 00:00:00,38442,NaN,NaN,1334,NaN,NaN,MoH Press conference with Dr. Raman G
22,22.0,31/03/2020 00:00:00,42788,NaN,NaN,1733,NaN,NaN,MoH Press conference with Dr. Raman G
23,23.0,01/04/2020 00:00:00,47951,NaN,1637,4562,NaN,NaN,https://twitter.com/PTI_News/status/1245308976...
24,24.0,02/04/2020 21:00:00,55851,NaN,2056,NaN,NaN,NaN,ICMR_testing_update_02April_9PM_IST.pdf
25,25.0,03/04/2020 09:00:00,56680,NaN,2183,NaN,NaN,NaN,ICMR_testing_update_03April_9AM_IST.pdf
26,26.0,03/04/2020 21:00:00,69245,NaN,2653,NaN,10034,575,ICMR_testing_update_03April_9PM_IST.pdf
27,27.0,04/04/2020 21:00:00,79950,NaN,3113,NaN,NaN,NaN,https://icmr.nic.in/sites/default/files/whats_...
28,28.0,05/04/2020 21:00:00,89534,NaN,3554,NaN,9369,295,https://icmr.nic.in/sites/default/files/whats_...
29,29.0,06/04/2020 21:00:00,101068,NaN,4135,NaN,11432,311,https://icmr.nic.in/sites/default/files/whats_...
30,30.0,07/04/2020 21:00:00,114015,NaN,4616,NaN,12584,285,ICMR_testing_update_07April_9PM_IST.pdf
31,31.0,08/04/2020 21:00:00,127919,NaN,5114,NaN,13143,320,https://icmr.nic.in/sites/default/files/whats_...
32,32.0,09/04/2020 21:00:00,144910,130792,5705,NaN,16002,320,https://icmr.nic.in/sites/default/files/whats_...
33,33.0,10/04/2020 21:00:00,161330,147034,6872,NaN,15663,433,https://icmr.nic.in/sites/default/files/whats_...
34,34.0,11/04/2020 21:00:00,179374,164773,7703,NaN,17143,600,https://icmr.nic.in/sites/default/files/whats_...
35,35.0,12/04/2020 21:00:00,195748,181028,8312,NaN,15583,544,https://icmr.nic.in/sites/default/files/whats_...
36,36.0,13/04/2020 21:00:00,217554,202551,9341,NaN,NaN,NaN,https://icmr.nic.in/sites/default/files/whats_...
37,37.0,14/04/2020 21:00:00,244893,229426,10307,NaN,26351,853,https://icmr.nic.in/sites/default/files/whats_...

In [11]:
df[6].columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [12]:
df[6].drop([1,18,19], axis=0, inplace=True)

In [13]:
df[6].drop(["Unnamed: 6","Unnamed: 7","Unnamed: 5"], axis=1, inplace=True)

In [14]:
x=[]
for i in df[6]["Unnamed: 1"]:
    i=i.split()
    x.append(i[0])

In [15]:
z=dict(Date=x)
y=pd.DataFrame(z,index=None)

In [16]:
df[6].reset_index(drop=True, inplace=True)

In [17]:
t=pd.DataFrame(df[6], index=None)

In [18]:
test=pd.concat([t,y],axis=1)
test.reset_index(drop=True)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 8,Date
0,1.0,Update Time Stamp,Total Samples Tested,Total Individuals Tested,Total Positive Cases,Source,Update
1,2.0,13/03/2020 00:00:00,6500,5900,78,Press_Release_ICMR_13March2020.pdf,13/03/2020
2,3.0,18/03/2020 18:00:00,13125,12235,150,ICMR_website_update_18March_6PM_IST.pdf,18/03/2020
3,4.0,19/03/2020 10:00:00,13316,12426,168,ICMR_website_update_19March_10AM_IST_V2.pdf,19/03/2020
4,5.0,19/03/2020 18:00:00,14175,13285,182,ICMR_website_update_19March_6PM_IST.pdf,19/03/2020
5,6.0,20/03/2020 10:00:00,14376,13486,206,ICMR_website_update_20March_10AM_IST.pdf,20/03/2020
6,7.0,20/03/2020 18:00:00,15404,14514,236,ICMR_website_update_20March_6PM_IST.pdf,20/03/2020
7,8.0,21/03/2020 10:00:00,15701,14811,271,ICMR_website_update_21March_10AM_IST.pdf,21/03/2020
8,9.0,21/03/2020 18:00:00,16911,16021,315,ICMR_website_update_21March_6PM_IST.pdf,21/03/2020
9,10.0,22/03/2020 10:00:00,16999,16109,341,ICMR_website_update_22March_10AM_IST.pdf,22/03/2020
10,11.0,22/03/2020 18:00:00,18127,17237,396,ICMR_website_update_22March_6PM_IST.pdf,22/03/2020
11,12.0,23/03/2020 10:00:00,18383,17493,415,ICMR_website_update_23March_10AM_IST.pdf,23/03/2020
12,13.0,23/03/2020 20:00:00,20707,19817,471,ICMR_website_update_23March_8PM_IST.pdf,23/03/2020
13,14.0,24/03/2020 10:00:00,20864,19974,482,ICMR_website_update_24March_10AM_IST.pdf,24/03/2020
14,15.0,24/03/2020 20:00:00,22694,21804,536,ICMR_website_update_24March_8PM_IST.pdf,24/03/2020
15,16.0,25/03/2020 10:00:00,22928,22038,539,ICMR_website_update_25March_10AM_IST.pdf,25/03/2020
16,17.0,25/03/2020 20:00:00,25144,24254,581,ICMR_website_update_25March_8PM_IST.pdf,25/03/2020
17,20.0,27/03/2020 09:00:00,27688,26798,691,ICMR_website_update_27March_9AM_IST.pdf,27/03/2020
18,21.0,30/03/2020 00:00:00,38442,NaN,NaN,MoH Press conference with Dr. Raman G,30/03/2020
19,22.0,31/03/2020 00:00:00,42788,NaN,NaN,MoH Press conference with Dr. Raman G,31/03/2020
20,23.0,01/04/2020 00:00:00,47951,NaN,1637,https://twitter.com/PTI_News/status/1245308976...,01/04/2020
21,24.0,02/04/2020 21:00:00,55851,NaN,2056,ICMR_testing_update_02April_9PM_IST.pdf,02/04/2020
22,25.0,03/04/2020 09:00:00,56680,NaN,2183,ICMR_testing_update_03April_9AM_IST.pdf,03/04/2020
23,26.0,03/04/2020 21:00:00,69245,NaN,2653,ICMR_testing_update_03April_9PM_IST.pdf,03/04/2020
24,27.0,04/04/2020 21:00:00,79950,NaN,3113,https://icmr.nic.in/sites/default/files/whats_...,04/04/2020
25,28.0,05/04/2020 21:00:00,89534,NaN,3554,https://icmr.nic.in/sites/default/files/whats_...,05/04/2020
26,29.0,06/04/2020 21:00:00,101068,NaN,4135,https://icmr.nic.in/sites/default/files/whats_...,06/04/2020
27,30.0,07/04/2020 21:00:00,114015,NaN,4616,ICMR_testing_update_07April_9PM_IST.pdf,07/04/2020
28,31.0,08/04/2020 21:00:00,127919,NaN,5114,https://icmr.nic.in/sites/default/files/whats_...,08/04/2020
29,32.0,09/04/2020 21:00:00,144910,130792,5705,https://icmr.nic.in/sites/default/files/whats_...,09/04/2020
30,33.0,10/04/2020 21:00:00,161330,147034,6872,https://icmr.nic.in/sites/default/files/whats_...,10/04/2020
31,34.0,11/04/2020 21:00:00,179374,164773,7703,https://icmr.nic.in/sites/default/files/whats_...,11/04/2020
32,35.0,12/04/2020 21:00:00,195748,181028,8312,https://icmr.nic.in/sites/default/files/whats_...,12/04/2020
33,36.0,13/04/2020 21:00:00,217554,202551,9341,https://icmr.nic.in/sites/default/files/whats_...,13/04/2020
34,37.0,14/04/2020 21:00:00,244893,229426,10307,https://icmr.nic.in/sites/default/files/whats_...,14/04/2020

In [19]:
test.to_csv("Corona_India_tests.csv", index=False, header=None)